<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Product Type</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
</head>
<body style="padding:8px;">
<h3 class="title">Add New Product Type</h3>

<h4 class="sub-title">Add single</h4>
<form method="post" th:action="@{/productType/create}" th:object="${productType}">
    <div>
        <span>Product Type Name:</span>
        <input name="typeName" placeholder="Product Type Name" type="text">
    </div>
    <!--        <div>-->
    <!--            <input type="submit" class="btn btn-primary" value=" confirm "/>-->
    <!--        </div>-->
    <button class="btn btn-primary" type="submit" value=" confirm ">Add</button>
</form>

<h4 class="sub-title">Add multiple</h4>
<form enctype="multipart/form-data" method="post" th:action="@{/productType/create_batch}">
    <div class="form-group mt-3">
        <label for="file">Select a CSV file</label>
        <p></p>
        <a th:href="@{https://github.com/yennanliu/SpringPlayground/blob/warehouse-dev-001-batch-import/springWarehouse/data/product_type_sample.csv}">CSV
            example</a>
        <p></p>
        <input accept=".csv" class="form-control-file" id="file" name="file" type="file">
    </div>
    <button class="btn btn-primary" type="submit">Import</button>
</form>

</body>
</html>