<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Product Type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body style="padding:8px;">
    <h3 class="title">Add New Product Type</h3>

    <h4 class="sub-title">Add single</h4>
    <form th:action="@{/productType/create}" method="post" th:object="${productType}">
        <div>
            <span>Product Type Name:</span>
            <input type="text" name="typeName" placeholder="Product Type Name">
        </div>
<!--        <div>-->
<!--            <input type="submit" class="btn btn-primary" value=" confirm "/>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary" value=" confirm ">Add</button>
    </form>

    <h4 class="sub-title">Add multiple</h4>
    <form method="post" th:action="@{/productType/create_batch}" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <label for="file">Select a CSV file</label>
            <p></p>
            <a th:href="@{https://github.com/yennanliu/SpringPlayground/blob/warehouse-dev-001-batch-import/springWarehouse/data/product_type_sample.csv}">CSV example</a>
            <p></p>
            <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>

</body>
</html>