<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify product type</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
</head>
<body style="padding:8px;">
<h3 class="title">modify product type</h3>
<form method="post" th:action="@{/productType/update}" th:object="${productType}">
    <input name="_method" type="hidden" value="PUT"/>
    <input name="typeId" th:value="*{typeId}" type="hidden">
    <div>
        <span>Product type name:</span>
        <input name="typeName" placeholder="Product type name" th:value="*{typeName}" type="text">
    </div>
    <div>
        <input type="submit" value=" 确定 "/>
    </div>
</form>
</body>
</html>