<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify product type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body style="padding:8px;">
<h3 class="title">modify product type</h3>
<form th:action="@{/productType/update}" method="post" th:object="${productType}">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="typeId" th:value="*{typeId}">
    <div>
        <span>Product type name:</span>
        <input type="text" name="typeName" th:value="*{typeName}" placeholder="Product type name">
    </div>
    <div>
        <input type="submit" value=" 确定 "/>
    </div>
</form>
</body>
</html>