<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${error}"> Error | Yen </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    >
</head>
<body>
<div th:insert="header"></div>
<div class="d-flex justify-content-center" style="margin: 10px;">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        Sorry, the post you requested doesn't exist!
    </div>
    <article th:unless="${error}">
        <p>ID: <span th:text="${author.id}">Id</span></p>
        <p>Name: <span th:text="${author.name}">Name</span></p>
        <p>Email: <span th:text="${author.email}">Email</span></p>
        <p>Create at: <span th:text="${author.createTime}">Create time</span></p>
        <p>Update at: <span th:text="${author.updateTime}">Update time</span></p>
    </article>
</div>
</body>
</html>