<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>This is the title of the Spring Boot POC!</title>
</head>

<body>

<div th:insert="header"></div>

<h1>Create A New Post</h1>
<hr/>

<h2>Write a blog:</h2>

<!-- <form action="#"  th:action="@{/posts/create}" th:object="${CreatePost}"  method="post"> -->
<!-- <form action="#" th:action="@{/result}" th:object="${CreatePost}" method="post"> -->
<form action="#" th:action="@{/posts/create}" th:object="${CreatePost}" method="post">

    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>title: <input type="text" th:field="*{title}" /></p>
    <p>author: <input type="text" th:field="*{author}" /></p>
    <p>content: <input type="text" th:field="*{content}" style="width: 400px; height:300px;"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

</body>

</html>