<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>This is the title of the Spring Boot POC!</title>
</head>

<body>
<!--<form action="#" th:action="@{/posts/create}" th:object="${CreatePost}" method="post" align="center">-->

<!--    <p>Title: <input type="text" th:field="*{title}" required minlength="1" /></p>-->
<!--    <p>Author ID: <input type="number" th:field="*{id}"  required minlength="1" /></p>-->
<!--    <p>Content: <input type="text" th:field="*{content}" style="width: 400px; height:300px;" required minlength="10" /></p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->

<!--</form>-->

<div th:insert="header"></div>
<h1 align="center">Edit Post</h1>
<hr/>

<div class="d-flex justify-content-center" style="margin: 10px;">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        Sorry, the post you requested doesn't exist!
    </div>

    <article th:unless="${error}">
        <div>
            <span>Title:</span>
            <input type="text" name="title" th:value="*{post.title}" >
        </div>
<!--        <h1 th:utext="${post.title}">Title</h1>-->
        <p class="card-subtitle mb-2"
           th:text="${#temporals.monthName(post.dateTime) + ' ' + #temporals.day(post.dateTime) + ', ' + #temporals.year(post.dateTime)}">LocalDateTime</p>
<!--        <p th:utext="${post.content}">Content</p>-->

        <div>
            <span>Content:</span>
            <textarea name="content" rows="6" cols="60">[[${post.content}]]</textarea>
        </div>

    </article>
</div>

</body>

</html>