<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<!-- JS for black/light mode change -->
	<script>
 		// Function to switch black/light mode
        function switchBlackLight() {
            const currentMode = document.documentElement.getAttribute('data-bs-theme');

            if (currentMode === 'light') {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }

        // Function to set the theme based on localStorage
        function setTheme() {
            const storedTheme = localStorage.getItem('theme');

            if (storedTheme === 'dark' || (!storedTheme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
        }

        // Set the theme on page load
        setTheme();
    </script>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#" th:href="@{/posts/all}">My Markdown Blog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#" th:href="@{/posts/all}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/posts/create}">New Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/posts/edit/pre_edit}">Edit</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/register/create}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/posts/mypost}">My Posts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/posts/pre_search}">Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/author/all}">Authors</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Button for black/light mode change -->
<div class="container mt-3">
	<button class="btn btn-dark shadow" id="btnSwitch" onclick="switchBlackLight()">Black/Light Mode</button>
</div>

<!-- Header -->
<div class="container text-center mt-4">
	<p class="title">My Markdown Blog</p>
	<h5 th:text="'Current User: ' + ${user} "></h5>
	<hr>
</div>

</body>
</html>
