<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Posts | Yen</title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous"
		  th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
	>
	<script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
</head>
   <!--
   https://www.w3schools.com/html/html_css.asp
   https://tedliou.com/css-horizontal-center-vertical-middle/
   -->
<style>
      .section-flex {
      display: flex;
      justify-content: center;
      }
      .section-block {
      width: 50%;
      height: 200px;
   </style>
<body>
<div th:insert="header"></div>
<div class="container">
	<div th:each="post : ${posts}" class="card">
		<div class="card-body">
			<h5 class="card-title" th:utext="${post.title}">Post title</h5>
			<!-- <p class="card-text" th:text="${post.author} + '...'">author</p> -->
			<h6 class="card-subtitle mb-2"
				th:text="${#temporals.monthName(post.dateTime) + ' ' + #temporals.day(post.dateTime) + ', ' + #temporals.year(post.dateTime)}">LocalDateTime</h6>
			<p class="card-text" th:text="${post.synopsis} + '...'">Post synopsis</p>
			<h6 class="card-text" th:utext="Admin">Author</h6>
			<a href="#" th:href="'/posts/' + ${post.id}" th:text="${'Read more'}" class="card-link">Read more</a>
		</div>
	</div>
</div>
<!--
   顯示分頁資訊
   https://www.796t.com/article.php?id=200769
   -->
<div class="modal-footer no-margin-top">
	<div class="col-md-6">
		Current at [[${pageInfo.pageNum}]] page. Total [[${pageInfo.pages}]] page. Total [[${pageInfo.total}]] records
	</div>
	<ul class="pagination pull-right no-margin">
		<!--			<li th:if="${pageInfo.hasPreviousPage}">-->
		<!--				<a th:href="'/posts/all?page=0'">First</a>-->
		<!--			</li>-->
		<a th:href="'/posts/all?page=0'">First</a>
		<li class="prev" th:if="${pageInfo.hasPreviousPage}">
			<a th:href="'/posts/all?pageNum='+${pageInfo.prePage}">
				<i class="ace-icon fa fa-angle-double-left"></i>
			</a>
		</li>
		<!--遍歷條數-->
		<li th:each="nav:${pageInfo.navigatepageNums}">
			<a th:href="'/posts/all?pageNum='+${nav}" th:text=" ${nav} " th:if="${nav != pageInfo.pageNum}"></a>
			<span style="font-weight: bold;background: #6faed9;" th:if=" ${nav == pageInfo.pageNum} " th:text=" ${nav} "></span>
		</li>
		<li class="next" th:if="${pageInfo.hasNextPage}">
			<a th:href="'/posts/all?pageNum='+${pageInfo.nextPage}">
				<i class="ace-icon fa fa-angle-double-right"></i>
			</a>
		</li>
		<li>
			<a th:href="'/posts/all?pageNum='+${pageInfo.pages}">Last</a>
		</li>
	</ul>
</div>
</body>
</html>