<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="header"></div>
    <title>Search Post</title>
    <h1 align="center">Search Post</h1>
    <hr/>
</head>
<body>
<form action="#" th:action="@{/posts/search}" th:object="${SearchRequest}" method="post" align="center">
    <p>Keyword: <input type="text" th:field="*{keyword}" required minlength="1" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>