<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--&lt;!&ndash;-->
<!--    book p.263-->
<!--    https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1-->
<!--&ndash;&gt;-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.yen.springCourseSystem.mapper.CourseTypeMapper">-->

<!--    &lt;!&ndash; List<CourseType> selectAll(); &ndash;&gt;-->
<!--    <select id="selectAll"  resultType="com.yen.springCourseSystem.bean.CourseType">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM-->
<!--        course_type-->
<!--    </select>-->

<!--</mapper>-->