<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.yen.springCourseSystem.mapper.ProfessorMapper">

    <!-- SQL片段 -->
    <sql id="cols">
        id,
        name,
        department
    </sql>

    <!-- 带分页查询，注意Mybatis中如果有填写集合类型，只填写集合中元素的类型  -->
    <select id="getCourseList" resultType="com.yen.springCourseSystem.bean.Professor">
        select
        <include refid="cols"/>
        from
        professor
        <where>
            ${ew.sqlSegment}
        </where>

    </select>

</mapper>