<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--&lt;!&ndash; https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 &ndash;&gt;-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.yen.springCourseSystem.mapper.UserMapper">-->

<!--    &lt;!&ndash; SQL &ndash;&gt;-->
<!--    <sql id="cols">-->
<!--        user_no,-->
<!--        user_name,-->
<!--        user_pwd-->
<!--    </sql>-->

<!--    <resultMap id="userRM" type="com.yen.springCourseSystem.bean.User">-->
<!--        <id property="userNo" column="user_no"></id>-->
<!--        <result property="userName" column="user_name"></result>-->
<!--        <result property="userPwd" column="user_pwd"></result>-->
<!--    </resultMap>-->

<!--    &lt;!&ndash; add &ndash;&gt;-->
<!--    <insert id="addUser" parameterType="com.yen.springCourseSystem.bean.User">-->
<!--        INSERT INTO users-->
<!--        (<include refid="cols"/>)-->
<!--        values-->
<!--        (#{userNo}, #{userPwd}, #{userName})-->
<!--    </insert>-->

<!--    &lt;!&ndash; select by userId&ndash;&gt;-->
<!--    <select id="loadUserByUserName" parameterType="string" resultType="com.yen.springCourseSystem.bean.User" resultMap="userRM">-->
<!--        SELECT-->
<!--        *-->
<!--        FROM-->
<!--        users-->
<!--        WHERE user_name = #{userName}-->
<!--    </select>-->

<!--</mapper>-->