<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>This is the title of the Spring Boot POC!</title>
</head>

<body>

<h1>Create A New Post</h1>
<hr/>

<h2>Write a blog:</h2>

<form action="#"  th:action="@{/posts/create}" th:object="${CreatePost}"  method="post">
    id <input name="id" value="001"/> <br/>
    title <input name="title" value="my title"/> <br/>
    content <input name="content" value="some content..."/> <br/>
    author <input name="author" value="Lynn"/> <br/>
    <input type="submit" value="submit"/>
</form>

</body>

</html>