<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.CommentMapper">

    <!-- https://blog.csdn.net/m0_46409345/article/details/108649541 -->
    <resultMap type="com.yen.springMybatisDemo1.bean.Comment" id="CommentResult">
        <id property="id" column="id"></id>
        <!-- <association property="comment" javaType="commentDate" column="comment_date" select="selectComment1"/> -->
        <result property="comment_date" column="commentDate"></result>
    </resultMap>

    <!-- <select id="select1" parameterType="int" resultType="com.yen.springMybatisDemo1.bean.Comment" resultMap="CommentResult"> -->
    <select id="select1" parameterType="int"  resultMap="CommentResult">
        SELECT * FROM comment WHERE id=#{id} LIMIT 1;
    </select>
    <!-- <select id="selectAll" parameterType="int" resultType="com.yen.springMybatisDemo1.bean.Comment"> -->
    <select id="selectAll" parameterType="int" resultMap="CommentResult">
        SELECT * FROM comment;
    </select>

</mapper>