<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.CommentMapper">

    <!--
        https://blog.csdn.net/m0_46409345/article/details/108649541
        https://blog.csdn.net/li_w_ch/article/details/109802957
        https://www.youtube.com/watch?v=gk_pm_Uaa_Y&list=PLmOn9nNkQxJEWFBs6hVmDC5m8SbbIiDwY&index=41

        type : class type
        id property : set up PK mapping
        result property : set up regular attr mapping
        property: attr name in mapping, HAVE to be as same as attr name in bean class
        column : sql return col name,  (e.g. a in "SELECT col as a")

        NOTE : resultMap only takes effect in SELECT query (NOT in op such as insert, update, delete...)
    -->
    <resultMap id="CommentMap1" type="com.yen.springMybatisDemo1.bean.Comment">
        <id property="id" column="id"></id> <!-- id for main key -->
        <result property="content" column="content"></result> <!-- property for other attr -->
        <result property="commentDate" column="comment_date"></result>
        <!-- <association property="comment" javaType="commentDate" column="comment_date" select="selectComment1"/> -->
    </resultMap>

    <!-- <select id="select1" parameterType="int" resultType="com.yen.springMybatisDemo1.bean.Comment" resultMap="CommentResult"> -->
    <select id="select1" resultMap="CommentMap1" parameterType="int">
        SELECT * FROM comment WHERE id=#{id} LIMIT 1;
    </select>

    <!-- <select id="selectAll" parameterType="int" resultType="com.yen.springMybatisDemo1.bean.Comment"> -->
    <select id="selectAll" resultMap="CommentMap1">
        SELECT * FROM comment;
    </select>


<!--    <select id="selectCommentDate" resultMap="CommentMap1">-->
<!--        SELECT comment_date FROM comment LIMIT 1;-->
<!--    </select>-->

</mapper>