<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://blog.csdn.net/feinifi/article/details/88769101 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.EmpMapper">

    <!--
        resultMap : user defined mapping
        https://youtu.be/gk_pm_Uaa_Y?t=125
    -->
    <resultMap id="empResultMap" type="com.yen.springMybatisDemo1.bean.Emp">
        <!--

            resultMap : ONLY works in "select" command

            id : java bean attr name
            property : java bean attr
            column : SQL query col name

            type : mapping result type
        -->
        <id property="eid" column="eid"></id>  <!-- PK (primary key) -->
        <result property="empName" column="emp_name"></result> <!-- other normal attr -->
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="did" column="did"></result>
    </resultMap>

    <resultMap id="empAndDeptResultMap" type="com.yen.springMybatisDemo1.bean.Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result> <!-- other normal attr -->
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <result property="dept.did" column="did"></result>
        <result property="dept.deptName" column="dept_name"></result>
    </resultMap>

    <!--
        association : deal with multiple to one
        property : attr name ( for multiple to one)
        javaType : attr type
    -->
    <resultMap id="empAndDeptResultMap2" type="com.yen.springMybatisDemo1.bean.Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result> <!-- other normal attr -->
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
        <association property="dept" javaType="com.yen.springMybatisDemo1.bean.Dept">
            <id property="did" column="did"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>

    <!-- List<Emp> getAllEmp() -->
    <select id="getAllEmp" resultType="com.yen.springMybatisDemo1.bean.Emp">
        <!-- v1 -->
        <!-- SELECT * FROM emp -->
        SELECT * FROM emp

        <!-- V2 -->
        <!-- SELECT eid, emp_name, age, sex, email FROM emp -->
    </select>

    <!--
        List<Emp> getAllEmp2()

        -> via resultMap
        -> for dealing with "java bean attr - db table attr name mismatch" case
    -->
    <select id="getAllEmp2" resultMap="empResultMap">
        SELECT * FROM emp
    </select>

    <!-- Emp getEmpAndDept(@Param("eid") Integer eid); -->
    <!-- <select id="getEmpAndDept" resultMap="empAndDeptResultMap"> -->
    <select id="getEmpAndDept" resultMap="empAndDeptResultMap2">
        SELECT
        *
        FROM
        emp e
        LEFT JOIN
        dept d
        ON
        e.did = d.did
        WHERE
        e.eid = #{eid}
    </select>

</mapper>