<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://blog.csdn.net/feinifi/article/details/88769101 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.SQLMapper">

    <!-- List<MyUser> getUserByLike(@Param("userName") String userName) -->
    <select id="getUserByLike" resultType="com.yen.springMybatisDemo1.bean.MyUser">
        <!-- V1 -->
        <!-- SELECT * FROM my_user WHERE username like '%${username}%' -->

        <!-- V2 -->
        SELECT * FROM my_user WHERE username like "%"#{username}"%"
    </select>

    <!-- int deleteMulti(@Param("ids") String ids); -->
    <delete id="deleteMulti">
        <!-- V1 -->
        DELETE FROM my_user WHERE id in  (${ids})

        <!-- V2 -->
    </delete>

    <!-- List<MyUser> getUserByTableName(@Param("tableName") String tableName); -->
    <select id="getUserByTableName" resultType="com.yen.springMybatisDemo1.bean.MyUser">
        SELECT
        *
        FROM
        ${tableName}
    </select>

    <!--
    void insertUser(MyUser myUser)

    NOTE !!!
        if didn't set up "AUTO_INCREMENT" in SQL DDL,
        -> have to use below so can make PK (primary key) auto increase, and get updated PK
        -> e.g. :

            <insert id="insertUser" useGenerateKeys="true" keyProperty="id">
                ...
            </insert>


       -> useGenerateKeys : use auto_increment PK in current SQL
       -> keyProperty : set auto_increment PK to one attr to return/use it
    -->
    <insert id="insertUser">
        INSERT
        INTO
        my_user(username, password, age, sex, email)
        VALUES(#{username}, #{password}, #{age}, #{sex}, #{email})
    </insert>

</mapper>