<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.bean.User">

    <select id="select1" parameterType="string" resultType="com.yen.springMybatisDemo1.bean.User">
        SELECT * FROM user WHERE id=#{id} LIMIT 1;
    </select>

    <insert id="insert1" parameterType="com.yen.springMybatisDemo1.bean.User">
        insert into user(id,name,age, base_location) values (#{id}, #{name}, #{age} #{baseLocation});
    </insert>

    <update id="update1" parameterType="com.yen.springMybatisDemo1.bean.User">
        update user set name = #{name} WHERE id=#{id}
    </update>

    <delete id="delete1" parameterType="integer">
        delete FROM user WHERE id=#{value}
    </delete>

</mapper>