<!DOCTYPE html>
<!-- Book p.59 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1"/>
    <link th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
    <!-- Part 1 -->

    <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <h1 class="panel-class">Visit model</h1>
        </div>
        <div class="panel-body">
            <span th:text="${singlePerson.name}"></span>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(people)}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">List</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" th:each="person:${people}">
                        <span th:text="${person.name}"></span>
                        <span th:text="${person.age}"></span>
                        <span th:text="${person.address}"></span>
                        <!--
                        <button class="btn" th:onclick="'getName(\'' + ${person.name} + '\');'">Get name</button>
                        -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- Part 2 -->
    <!-- https://www.w3schools.blog/bootstrap-cdn-link-maxcdn -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        var single = [[${singlePerson}]];
        console.log(single.name + "/" + single.age + "/" + single.address)
        function getName(name){
            console.log(name);
        }
    </script>
</body>
</html>