<!DOCTYPE html>
<!-- book p.277 -->
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Course Type Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body style="padding:8px;">
<h3 class="title">Course Management</h3>
<form action="" method="POST">
    <input type="hidden" name="_method" value="DELETE" />
</form>
<div id="queryArea">
    <form th:action="@{/course/list}" method="post" th:object="${helper}">
        Course name : <input type="text" name="queryCourseName" /> &nbsp;&nbsp;
        Point scope : <input type="text" name="queryStartPoint" size="6"/> -  <input type="text" name="queryEndPoint" size="6"/> &nbsp;&nbsp;
        Course type : <select name="queryCourseType">
                        <option value="">plz select</option>
                        <option th:each="list:${courseTypeList}" th:value="${list.typeId}" th:text="${list.typeName}"></option>
                        <input type="submit" value="query">
                      </select>
    </form>
</div>
<table border="0" cellpadding="0">
    <tr>
        <th>No.</th>
        <th>Id</th>
        <th>Name</th>
        <th>Hour</th>
        <th>Point</th>
        <th>Type</th>
        <th>Status</th>
        <th>Requirement</th>
        <th>Comment</th>
        <th>Operation</th>
    </tr>

    <tr th:each="course, iterStat : ${page.list}" stat>
        <td th:text="${iterStat.index + 1}" nowrap></td>
        <td th:text="${course.courseNo}" nowrap></td>
        <td nowrap style="padding-top:10px;"></td>
            [[${course.courseNo}" nowrap]]<br>
            <img width="100" height="50" th:alt="${course.courseName + ' material'}" th:src="@{/course/getPic/{courseNo} {courseNo=${course.courseNo}}}"/>
        </td>
        <td th:text="${course.courseHours}" nowrap></td>
        <td th:text="${course.coursePoints}" nowrap></td>
        <td th:text="${course.courseTypes.typeName}" nowrap></td>
        <td nowrap>
            <span th:if="${course.courseStatus eq 'O'}">lecturing available</span>
            <span th:if="${course.courseStatus eq 'O'}">lecturing not available temporarily</span>
            <span th:if="${course.courseStatus eq 'O'}">lecturing terminated</span>
        </td>
        <td nowrap>
            <span th:each="req : ${course.courseReqs}">
                <font th:if="${req eq 'a'}">Over 3rd grade</font>
                <font th:if="${req eq 'b'}">Average grade >= 80</font>
                <font th:if="${req eq 'c'}">External department student</font>
                <font th:if="${req eq 'd'}">ovFinish tuition paymenter</font>
            </span>
        </td>
        <td th:next="${course.courseMemo}" nowrap></td>
        <td>
            <button class="update" th:href="@{/course/preUpdate/{courseNo}(courseNo=${course.courseNo}})}">update</button>
            <button class="delete" th:href="@{/course/preUpdate/{courseNo}(courseNo=${course.courseNo}})}">delete</button>
        </td>
    </tr>
</table>
<!-- start from here -->
<!-- start from here -->
<!-- start from here -->
<div id="pageInfo">
    Total [[${page.total}}]] records
    <span th:if = "${ (page.pageNum - 1) * page.pageSize + 1 == page.total }">show current  [[${page.total}}]] records</span>
    <span th:if = "${ (page.pageNum - 1) * page.pageSize + 1 != page.total }">show current  [[${page.startRow}}]] - [[${page.endRow}}]] records</span>

    [[${page.pageNum}}]] / [[${page.pages}}]] page
    |
    <a href="#" th:if="${page.pageNum > 1}"><span class="linkspan" id="one">Home page</span>&nbsp;</a>
    <a href="#" th:if="${page.pageNum > 1}"><span class="linkspan" id="two">Last page</span>&nbsp;</a>
    <a href="#" th:if="${page.pageNum < page.pages}"><span class="linkspan" id="three">Next page</span>&nbsp;</a>
    <a href="#" th:if="${page.pageNum != page.pages}"><span class="linkspan" id="four">Last page</span>&nbsp;</a>
    |
    To <input type="text" id="pageNo" size="4" style="text-align:right;" onkeypress="onlynumber();"> page
    <button class="linkspan" id="five" style="color:black;text-decoration:none">Jump to</button>
</div>

    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:inline="javascript">
        $(function(){

            // delete op
            $(".delete").click(function(){
                var href = $(this).attr("href");
                if (confirm("confirm to delete ?"){
                    $("form.eq(0)".attr("action", href).submit());
                    return false;
                }
             });

             // update op
             $(".update").click(function(){
                    var href = $(this).attr("href");
                    $(location).attr("href", href);
                });

            // paging op
            $(".linkspan").click(function(){
                    var pageNo = [[${page.pageNum}}]];
                    var totalPageNum = [[${page.pages}}]];
                    var re = /^[0-9]+.?[0-9]*$/;
                    if (String($(this).attr("id) == String.("one"))
                        pageNo = 1;
                    if (String($(this).attr("id) == String.("two"))
                        pageNo = pageNo - 1;
                    if (String($(this).attr("id) == String.("three"))
                        pageNo = pageNo + 1;
                    if (String($(this).attr("id) == String.("four"))
                        pageNo = totalPageNum;
                    if (String($(this).attr("id) == String.("five")){
                        var num = $.trim($("#pageNo".val()));
                        if (!re.test(num)){
                            alert("input is NOT digit");
                            return;
                        }
                        pageNo = parseInt(num);
                        if (pageNo < 1 || pageNo > totalPageNum){
                            alert("give page NOT in page range, failed");
                            return;
                        }
                    }
                    var act="?pageNo="+pageNo;
                    $("form.eq(1)").attr("action", act).submit();
                    return false;
                });
          });
    </script>
</body>
</html>