<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space -->
<mapper namespace="com.yen.springWarehouse.mapper.MerchantMapper">

    <!-- SQL -->
    <!-- SQL query with paging, NOTE : if there is group type in Mybatis, only use element type in group -->
    <select id="getMerchantList" resultType="com.yen.springWarehouse.bean.Merchant">
        select
        *
        from
        merchant
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>