<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space -->
<mapper namespace="com.yen.springWarehouse.mapper.OrderMapper">

    <!-- SQL -->

    <!-- SQL query with paging, NOTE : if there is group type in Mybatis, only use element type in group -->
    <select id="getOrderList" resultType="com.yen.springWarehouse.bean.Order">
        SELECT
        *
        FROM
        orders
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!--  List<Order> getAllOrders(); -->
    <select id="getAllOrders" resultType="com.yen.springWarehouse.bean.Order">
        SELECT * FROM orders
    </select>

</mapper>