<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space -->
<mapper namespace="com.yen.springWarehouse.mapper.ProductMapper">

    <!-- SQL -->
    <sql id="cols">
        id,
        name,
        type_id,
        price,
        product_status
    </sql>

    <!-- SQL query with paging, NOTE : if there is group type in Mybatis, only use element type in group -->
    <select id="getProductList" resultType="com.yen.springWarehouse.bean.Product">
        select
        <include refid="cols"/>
        from
        product
        <where>
            ${ew.sqlSegment}
        </where>

    </select>

</mapper>