<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.mdblog.mapper.AuthorMapper">

    <!-- public Author getById(long id); -->
    <select id="getById" resultType="com.yen.mdblog.entity.Po.Author" parameterType="int">
        SELECT * FROM authors where id = #{id}
    </select>

    <!-- public List<Author> getAllAuthors(); -->
    <select id="getAllAuthors" resultType="com.yen.mdblog.entity.Po.Author">
        SELECT * FROM authors
    </select>

    <!-- public Integer getAuthorCount(); -->
    <select id="getAuthorCount" resultType="int">
        SELECT COUNT(*) FROM authors
    </select>

    <!-- public void insertAuthor(Author author); -->
    <insert id="insertAuthor">
        INSERT INTO authors(`id`,`email`,`name`,`url`, `create_time`, `update_time`)
        values(#{id}, #{email},  #{name}, #{url}, #{createTime}, #{updateTime})
    </insert>

    <!-- public void updateAuthor(Author author); -->
    <update id="updateAuthor">
        UPDATE authors
        SET name = #{name}, email = #{email}, course_textbook_pic = #{courseTextbookPic}
        WHERE id = #{id}
    </update>

</mapper>