<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.mdblog.mapper.PostMapper">

    <!-- public Post getById(long id); -->
    <select id="getById" resultType="com.yen.mdblog.entity.Po.Post" parameterType="int">
        SELECT * FROM posts where id = #{id}
    </select>

    <!-- public List<Post> getAllPosts(); -->
    <select id="getAllPosts" resultType="com.yen.mdblog.entity.Po.Post">
        SELECT * FROM posts
    </select>

    <!-- public int getPostCount(); -->
    <select id="getPostCount" resultType="int">
        SELECT COUNT(1) FROM posts
    </select>

    <!-- public void insertPost(Post post); -->
    <insert id="insertPost">
        INSERT INTO posts(`title`,`content`,`synopsis`,`author_id`, `date_time`)
        values(#{Post.title},  #{Post.content}, #{Post.synopsis}, #{Post.authorId}, #{Post.dateTime})
    </insert>

    <!-- public void updatePost(Post post); -->
    <update id="updatePost">
        UPDATE posts
        SET title = #{Post.title}, content = #{Post.content}, synopsis = #{Post.synopsis}
        WHERE id = #{Post.id}
    </update>

    <!-- List<Post> findById(Integer id); -->
    <select id="findById" resultType="com.yen.mdblog.entity.Po.Post">
        SELECT * FROM posts
        WHERE author_id = #{authorId}
    </select>
    
    <!-- LList<Post> findByKeyword(@Param("searchRequest") searchRequest searchRequest); -->
    <select id="findByKeyword" resultType="com.yen.mdblog.entity.Po.Post">
        SELECT * FROM posts
        WHERE content LIKE '%${searchRequest.keyword}%'
        OR title LIKE '%${searchRequest.keyword}%'
    </select>

</mapper>