body, tr, td, th, div, span, ul, li, input, select, option, textarea {
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    height: 80px;
    border-bottom: 2px solid green;
    display: flex;
    align-items: center;
}

#productName {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

#navigator {
    width: 130px;
    padding: 10px 0;
    height: 100%;
    border-right: 2px solid green;
    float: left;
    box-sizing: border-box;
}

#navigator .menuitem {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

#navigator .seperator {
    border-bottom: 1px dotted green;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content {
    overflow: hidden;
    height: 600px;
    box-sizing: border-box;
}

form div {
    margin: 5px;
}

div .text {
    border: 1px solid green;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    margin: 3px;
    padding: 8px;
    border-bottom: 2px solid #cccccc;
    word-break: keep-all;
}

button {
    margin: 3px;
    padding: 8px;
    cursor: pointer;
}

.title {
    color: green;
    font-size: 16px;
    text-decoration: underline;
}

.warnMsg {
    margin: 30px;
    height: 60px;
    text-align: center;
    border: 2px solid yellow;
    color: red;
    font-size: 14px;
    padding-top: 20px;
}

#pageInfo {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin-top: 3px;
}

.linkspan {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

#wrapper {
    margin: 10px;
}

#f_title {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 2px;
}

.f_row {
    margin-top: 8px;
}

.f_row span, .f_row input {
    font-size: 12px;
}

.error {
    border: 1px solid yellow;
    color: red;
    width: 180px;
    padding: 8px;
    margin: 5px;
}

#footer {
    font-size: 14px;
    text-align: center;
    border-top: 1px solid green;
    margin-top: 4px;
    height: 60px;
    line-height: 60px;
}
