<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify merchant</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
</head>
<body style="padding:8px;">
<h3 class="title">modify merchant</h3>
<form method="post" th:action="@{/merchant/update}" th:object="${merchant}">
    <input name="_method" type="hidden" value="PUT"/>
    <input name="id" th:value="*{id}" type="hidden">
    <div>
        <span>Merchant name:</span>
        <input name="name" placeholder="Merchant name" th:value="*{name}" type="text">
    </div>
    <div>
        <span>Merchant city:</span>
        <input name="city" placeholder="Merchant city" th:value="*{city}" type="text">
    </div>
    <div>
        <input type="submit" value=" 确定 "/>
    </div>
</form>
</body>
</html>