<template>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-1"></div>
      <div class="col-md-6 col-12 pt-3 pt-md-0">
        <h4>{{ user.name }}</h4>
        <h2 class="font-weight-bold">
          Name: {{ user.firstName + " " + user.lastName }}
        </h2>
        <h6 class="font-weight">ID: {{ user.id }}</h6>
        <h6 class="font-weight">Email: {{ user.email }}</h6>
        <h6 class="font-weight">Department: {{ user.departementId }}</h6>
        <h6 class="font-weight">Manager: {{ user.managerId }}</h6>
        <h6 class="font-weight">Role: {{ user.role }}</h6>

        <h3 class="font-weight mt-3">Vacations:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Type</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="vacation in this.userVacations" :key="vacation.id">
              <td>{{ vacation.id }}</td>
              <td>{{ vacation.startDate }}</td>
              <td>{{ vacation.endDate }}</td>
              <td>{{ vacation.status }}</td>
              <td>{{ vacation.type }}</td>
              <td>
                <router-link :to="`/vacation`">
                  View vacation
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>

        <h3 class="font-weight mt-3">Subordinates:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Department</th>
              <th>Manager</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="subordinate in this.subordinates" :key="subordinate.id">
              <td>{{ subordinate.id }}</td>
              <td>{{ subordinate.firstName }} {{ subordinate.lastName }}</td>
              <td>{{ subordinate.email }}</td>
              <td>{{ subordinate.role }}</td>
              <td>{{ subordinate.departementId }}</td>
              <td>{{ subordinate.managerId }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
</template>


<script>
//import swal from "sweetalert";
import axios from "axios";

export default {
  data() {
    return {
      user: {},
      id: null,
      token: null,
      vacations: [],
      userVacations: [],
      subordinates: []
    };
  },
  props: ["baseURL", "users"],
  methods: {
    ListUsers() {
      axios.get(`http://localhost:9998/users/`).then(
        (response) => {
          if (response.status === 200) {
            this.$router.push("/user");
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    // TODO : fix with filter from product list
    async getUser() {
      // fetch users
      await axios
        .get(`http://localhost:9998/users/${this.$route.params.id}`)
        .then((res) => (this.user = res.data))
        .catch((err) => console.log(err));
    },
    async getSubordinates() {
      // fetch users
      await axios
        .get(`http://localhost:9998/users/subordinates/${this.$route.params.id}`)
        .then((res) => (this.subordinates = res.data))
        .catch((err) => console.log(err));
    },
    async getUserVacations() {
      //fetch categories
      await axios
        .get("http://localhost:9998/vacation/")
        .then((res) => {
          this.vacations = res.data;
        })
        .catch((err) => console.log(err));

      // filter get vacation with user id
      this.userVacations = this.vacations.filter(
        (vacation) => vacation.userId == this.$route.params.id
      );
      console.log(
        ">>> this.userVacations  = " + JSON.stringify(this.userVacations)
      );
    },
  },
  mounted() {
    console.log(">>> this.$route.params.id = " + this.$route.params.id);
    this.getUser();
    this.getSubordinates();
    this.getUserVacations();
  },
};
</script>

<style>
.category {
  font-weight: 400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#add-to-cart-button {
  background-color: #febd69;
}

#wishlist-button {
  background-color: #b9b9b9;
  border-radius: 0;
}

#show-cart-button {
  background-color: #131921;
  color: white;
  border-radius: 0;
}
</style>
