<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!--  <meta charset="UTF-8">-->
    <meta charset="UTF-8" content=”width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5,
          name=”viewport” user-scalable=yes”/>
    <title>My posts</title>
    <!--  <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>-->
</head>
<!--
https://www.w3schools.com/html/html_css.asp
https://tedliou.com/css-horizontal-center-vertical-middle/
-->
<style>
      .section-flex {
      display: flex;
      justify-content: center;
      }
      .section-block {
      width: 50%;
      height: 200px;

</style>
<body>
<div th:insert="header"></div>
<div class="container">
</div>
</body>
</html>