<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Download OK</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body style="padding:8px;">
<h3 class="title">Create Download OK</h3>

<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</body>
</html>