<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-->

    NOTE !!!
    below is used by spring XML,
    in spring boot, we use:
        1) @Configuration (plz check com.yen.SpringBootPOC1.config.MyConfig)

    ref : https://www.youtube.com/watch?v=GGWMK2BJs7E&list=PLmOn9nNkQxJFKh2PMfWbGT7RVuMowsx-u&index=9
    <-->

    <!-->
    In spring MVC, we seldom use beans.xml, but use application.properties + auto injection .. more often
    <-->
    <bean id="user01" class="com.yen.SpringBootPart1.bean.User">
        <property name="name" value="kyo"></property>
        <property name="age" value="18"></property>
    </bean>

    <bean id="cat" class="com.yen.SpringBootPart1.bean.Pet">
        <property name="name" value="tomcattt"></property>
    </bean>

</beans>