<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Order</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
</head>
<body style="padding:8px;">
<h3 class="title">Add New Order</h3>
<form method="post" th:action="@{/order/create}" th:object="${Order}">

    <div>
        <span>merchant:</span>
        <select name="merchantId">
            <option>=Select merchant name=</option>
            <option th:each="list:${merchantList}" th:text="${list.name}" th:value="${list.id}"></option>
        </select>
    </div>

    <div>
        <span>Product:</span>
        <select name="productId">
            <option>=Select product name=</option>
            <option th:each="list:${productList}" th:text="${list.name}" th:value="${list.id}"></option>
        </select>
    </div>

    <div>
        <span>Amount:</span>
        <input name="amount" type="value" value="0">
    </div>
    <div>
        <input type="submit" value=" confirm "/>
    </div>
</form>
</body>
</html>