<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body style="padding:8px;">
<h3 class="title">Add New Order</h3>
<form th:action="@{/order/create}" method="post" th:object="${Order}">

    <div>
        <span>merchant:</span>
        <select name="merchantId">
            <option>=Select merchant name=</option>
            <option th:each="list:${merchantList}" th:value="${list.id}" th:text="${list.name}"></option>
        </select>
    </div>

    <div>
        <span>Product:</span>
        <select name="productId">
            <option>=Select product name=</option>
            <option th:each="list:${productList}" th:value="${list.id}" th:text="${list.name}"></option>
        </select>
    </div>

    <div>
        <span>Amount:</span>
        <input type="value" value="0" name="amount" >
    </div>
    <div>
        <input type="submit" value=" confirm "/>
    </div>
</form>
</body>
</html>