<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify order</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
</head>
<body style="padding:8px;">
<h3 class="title">modify order</h3>
<form method="post" th:action="@{/order/update}" th:object="${order}">
    <input name="_method" type="hidden" value="PUT"/>
    <input name="id" th:value="*{id}" type="hidden">
    <div>
        <span>Order merchantId:</span>
        <input name="merchantId" placeholder="merchantId" th:value="*{merchantId}" type="text">
    </div>
    <!--     <div>
            <span>Order city:</span>
            <input type="text" name="city" th:value="*{city}" placeholder="Order city">
        </div> -->
    <div>
        <input type="submit" value=" 确定 "/>
    </div>
</form>
</body>
</html>