<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modify order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body style="padding:8px;">
<h3 class="title">modify order</h3>
<form th:action="@{/order/update}" method="post" th:object="${order}">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="hidden" name="id" th:value="*{id}">
    <div>
        <span>Order merchantId:</span>
        <input type="text" name="merchantId" th:value="*{merchantId}" placeholder="merchantId">
    </div>
    <!--     <div>
            <span>Order city:</span>
            <input type="text" name="city" th:value="*{city}" placeholder="Order city">
        </div> -->
    <div>
        <input type="submit" value=" 确定 "/>
    </div>
</form>
</body>
</html>