<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
    <meta charset="UTF-8" name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes” />
    <title>Authors</title>
    <script src="https://pagination.js.org/dist/2.1.5/pagination.min.js"></script>
</head>
<!--
   https://www.w3schools.com/html/html_css.asp
   https://tedliou.com/css-horizontal-center-vertical-middle/
   -->
<style>
      .section-flex {
      display: flex;
      justify-content: center;
      }
      .section-block {
      width: 50%;
      height: 200px;
   </style>
<body>
<div th:insert="header"></div>
<div class="container">
    <div th:each="author : ${authors}" class="card">
        <div class="card-body">
            <!-- <p th:text="'id: ' + ${greeting.id}" />-->
            <p class="card-text" th:text="'ID: ' + ${author.id}">Id</p>
            <p class="card-text" th:text="'Name: ' + ${author.name}">Name</p>
            <p class="card-text" th:text="'Email: ' + ${author.email}">Email</p>
            <p>Create at: <span th:text="${author.createTime}">Create time</span></p>
            <p>Update at: <span th:text="${author.updateTime}">Update time</span></p>
            <a href="#" th:href="'/author/edit/' + ${author.id}" th:text="${'Edit'}" class="card-link">Edit</a>
        </div>
    </div>
</div>
</body>
</html>