<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes” />
    <title>This is the title of the Spring Boot POC!</title>
</head>
<body>
<div th:insert="header"></div>
<h1 align="center">Edit Author</h1>
<hr/>
<div class="d-flex justify-content-center" style="margin: 10px;">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        Sorry, the author you requested doesn't exist!
    </div>
</div>
<form th:action="@{/author/edit/update}" method="post"  enctype="multipart/form-data" th:object="${author}">
    <input type="hidden" name="id" th:value="*{id}" />
    <div>
        <span>Author ID: [[${id}]]</span>
    </div>
    <div>
        <span>Name:</span>
        <input type="text" name="name" th:value="*{name}" >
    </div>
    <div>
        <span>Email:</span>
        <input type="text" name="email" th:value="*{email}" >
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>