<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    → http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

   <!-- config springMVC Front controller, deal with request from browser -->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>

        <servlet>
            <servlet-name>SpringMVC</servlet-name>
            <servlet-class>
                org.springframework.web.servlet.DispatcherServlet
            </servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>SpringMVC</servlet-name>
            <url-pattern>/</url-pattern>  <!-- consider all request from browser, except .jsp path request -->
        </servlet-mapping>


        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/mvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

</web-app>