<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WareHouse System</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div id="header">
    <div id="productName">WareHouse System</div>
    <div></div>
</div>
<div>
    <div id="navigator">
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/productType/toInput}">New Product Type</a>
        </div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/productType/list}">Product Type List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/product/toInput}">New Product</a>
        </div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/product/list}">Product List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/merchant/toInput}">New Merchant</a>
        </div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/merchant/list}">Merchant List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/order/toInput}">New Order</a>
        </div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/order/list}">Order List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a target="contentFrame" th:href="@{/download/list}">Download</a>
        </div>
    </div>
    <div id="content">
        <iframe allowtransparency="true" frameborder="0" height="480px" id="contentFrame" name="contentFrame" scrolling="yes"
                th:src="@{/welcome.html}" width="100%">
        </iframe>
    </div>
</div>
<div id="footer">
    Warehouse System - V 1.0.0
</div>
<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
<script th:inline="javascript">

    $("#logout").click(function () {

        if(confirm('leave system？')){
            $(location).attr("href",this.href());
        }
        return false;
    });


</script>
</body>
</html>