<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WareHouse System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="header">
    <div id="productName">WareHouse System</div>
    <div></div>
</div>
<div>
    <div id="navigator">
        <div class="menuitem">
            <a th:href="@{/productType/toInput}" target="contentFrame">New Product Type</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/productType/list}"  target="contentFrame">Product Type List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a th:href="@{/product/toInput}"  target="contentFrame">New Product</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/product/list}" target="contentFrame">Product List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a th:href="@{/merchant/toInput}"  target="contentFrame">New Merchant</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/merchant/list}" target="contentFrame">Merchant List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a th:href="@{/order/toInput}"  target="contentFrame">New Order</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/order/list}" target="contentFrame">Order List</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a th:href="@{/download/list}" target="contentFrame">Download</a>
        </div>
    </div>
    <div id="content">
        <iframe id="contentFrame" width="100%" scrolling="yes" height="480px" frameborder="0" name="contentFrame" allowtransparency="true" th:src="@{/welcome.html}">
        </iframe>
    </div>
</div>
<div id="footer">
    Warehouse System - V 1.0.0
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script  th:inline="javascript">

    $("#logout").click(function () {

        if(confirm('leave system？')){
            $(location).attr("href",this.href());
        }
        return false;
    });

</script>
</body>
</html>