<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.CacheMapper">

    <!--
        enable mybatis cache level 2
        https://www.youtube.com/watch?v=jlr8Rc77boA&list=PLmOn9nNkQxJEWFBs6hVmDC5m8SbbIiDwY&index=58
    -->
    <cache></cache>

    <!-- Emp getEmpByEid(@Param("eid") Integer eid); -->
    <select id="getEmpByEid" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT * FROM emp WHERE eid = #{eid}
    </select>

    <!-- void insertEmp(Emp emp); -->
    <insert id="insertEmp">
        INSERT INTO emp(emp_name, age, sex, email, did)
        values
        (#{empName}, #{age}, #{sex}, #{email}, #{did})
    </insert>

</mapper>