<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://dotblogs.com.tw/zjh/2018/09/28/mybatis_1 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yen.springMybatisDemo1.mapper.DynamicSqlMapper">

    <!--
        List<Emp> getEmpByCondition(Emp emp);

        multi condition dynamic SQL V1
    -->
    <select id="getEmpByCondition" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT * FROM emp
        WHERE
        1 = 1
        <if test="empName != null and empName != ''">
            AND emp_name = #{empName}
        </if>
        <if test="age != null and age != ''">
            AND age = #{age}
        </if>
        <if test="sex != null and sex != ''">
            AND sex = #{sex}
        </if>
        <if test="email != null and email != ''">
            AND email = #{email}
        </if>
    </select>

    <!--
        List<Emp> getEmpByCondition2(Emp emp);

        multi condition dynamic SQL V2

        NOTE !! : via <where></where>, mybatis will help on handling "if condition exists or not" cases
                  "or" condition is supported as well
    -->
    <select id="getEmpByCondition2" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT * FROM emp
        <where>
            <if test="empName != null and empName != ''">
                emp_name = #{empName}
            </if>
            <if test="age != null and age != ''">
                AND age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                AND sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
        </where>
    </select>

    <!--
        List<Emp> getEmpByCondition3(Emp emp);

            prefix :  add defined val before specific content
            suffix :  add defined val after specific content
            suffixOverrides : remove defined val before specific content
            prefixOverrides : remove defined val after specific content
    -->
    <select id="getEmpByCondition3" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT * FROM emp
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                emp_name = #{empName} AND
            </if>
            <if test="age != null and age != ''">
                age = #{age} AND
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex} OR
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
        </trim>
    </select>

    <!-- List<Emp> getEmpByCondition4(Emp emp); -->
    <select id="getEmpByCondition4" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT
        <include refid="empColumns"></include>
        FROM emp
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                emp_name = #{empName} AND
            </if>
            <if test="age != null and age != ''">
                age = #{age} AND
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex} OR
            </if>
            <if test="email != null and email != ''">
                email = #{email}
            </if>
        </trim>
    </select>

    <!--
         List<Emp> getEmpByChoose(Emp emp);

         NOTE :
            choose, when, otherwise : similar as "if..else" logic
            so there is ONLY one executed condition at once, so we don't need "and" in SQL syntax
    -->
    <select id="getEmpByChoose" resultType="com.yen.springMybatisDemo1.bean.Emp">
        SELECT * FROM emp
        <where>
            <choose>
                <when test="empName != null and empName != ''">
                    emp_name = #{empName}
                </when>
                <when test="age != null and age != ''">
                    age = #{age}
                </when>
                <when test="sex != null and sex != ''">
                    sex = #{sex}
                </when>
                <when test="email != null and email != ''">
                    email = #{email}
                </when>
                <otherwise>
                    did = 1
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
        int deleteMultiEmpByArray(@Param("eids") Integer[] eids);

        separator : for split input eids (e.g. Integer[] eids = new Integer[]{1,2,3};)
    -->
    <delete id="deleteMultiEmpByArray">
        DELETE FROM emp WHERE eid in
        (
            <foreach collection="eids" item="eid" separator=",">
                #{eid}
            </foreach>
        )
    </delete>

    <!--
        int deleteMultiEmpByArray2(@Param("eids") Integer[] eids);

        -> NOTE :
            -> we can use separator, open, close on the same time
            -> so we don't need () in SQL pattern anymore
    -->
    <delete id="deleteMultiEmpByArray2">
        DELETE FROM emp WHERE eid in
        <foreach collection="eids" item="eid" separator="," open="(" close=")">
            #{eid}
        </foreach>
    </delete>


    <!--
    int deleteMultiEmpByArray3(@Param("eids") Integer[] eids);
    -->
    <delete id="deleteMultiEmpByArray3">
        DELETE FROM emp WHERE
        <foreach collection="eids" item="eid" separator="or">
            eid = #{eid}
        </foreach>
    </delete>

    <!--
        int addMultiEmpyByList(List<Emp> emps);

        NOTE !!!
            -> since we pass List<Emp>, so each item is Emp type
            -> so in attr value, we HAVE TO use emp.xxx
            -> e.g. (#{emp.empName}, #{emp.age}, #{emp.sex}, #{emp.email}, #{emp.did})
    -->
    <insert id="addMultiEmpByList">
        INSERT INTO emp(emp_name, age, sex, email, did)
        values
        <foreach collection="emps" item="emp" separator=",">
            (#{emp.empName}, #{emp.age}, #{emp.sex}, #{emp.email}, #{emp.did})
        </foreach>
    </insert>

    <!--
        sql
        https://www.youtube.com/watch?v=QfhtOXzEGQM&list=PLmOn9nNkQxJEWFBs6hVmDC5m8SbbIiDwY&index=55
    -->
    <sql id="empColumns">
        eid,emp_name,age,sex,email
    </sql>

</mapper>