<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Course type management (Title)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body style="padding:8px;">
    <h3 class="title">Course type management</h3>
    <form th:action="" method="POST">
            <input type="hidden" name="_method" value="DELETE">
    </form>
    <table border="0" cellpadding="0">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Operation</th>
        </tr>
        <tr class="type" th:each="courseType : ${page.list}}">
            <td th:text="${courseType.typeId}" nowrap></td>
            <td id="typeName" th:text="${courseType.typeName}" nowrap></td>
            <td nowrap>
        <button class="update" th:href="@{/courseType/preUpdate}/{typeId} (typeId=@{courseType.typeId})"/>Modify</button>
        <!-- START FROM HERE -->
        <!-- START FROM HERE -->
        <!-- START FROM HERE -->
            </td>
        </tr>
    </table>
</body>

</html>