

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product Type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<!-- <body style="padding:8px;">
    <h3 class="title">New product Type</h3>
    <img id="textbookPic"
         alt="默认教材封面"
         width="300"
         height="250"
         style="float:right" th:src="@{/pics/default.jpg}" /><br/> -->
<form th:action="@{/product/create}" method="post"  enctype="multipart/form-data" th:object="${product}">
<!--    <div>-->
<!--        <span>product Id:</span>-->
<!--        <input type="text" name="id" >-->
<!--    </div>-->
    <div>
        <span>product price:</span>
        <input type="number" name="price" >
    </div>
    <div>
        <span>product name:</span>
        <input type="text" name="name" >
    </div>
    <!--         <div>
                <span>product pic:</span>
                <input id="producttextbookpic" type="file" name="producttextbookpic" size="40" />
            </div> -->
    <div>
        <span>typeId:</span>
        <select name="typeId">
            <option>=Select type=</option>
            <option th:each="list:${productTypeList}" th:value="${list.typeId}" th:text="${list.typeName}"></option>
        </select>
    </div>
    <div>
        <span>product Status:</span>
        <input type="radio" name="productStatus" th:value="new" checked>New&nbsp;&nbsp;
        <input type="radio" name="productStatus" th:value="on_board">on board&nbsp;&nbsp;
        <input type="radio" name="productStatus" th:value="off_board">off board
    </div>
    <div>
        <span>product amount:</span>
        <input type="text" name="amount" >
    </div>
    <div>
        <span>merchant:</span>
        <select name="merchantId">
            <option>=Select merchant name=</option>
            <option th:each="list:${merchantList}" th:value="${list.id}" th:text="${list.name}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="Add product"/>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<!-- <script th:inline="javascript">
    $(function() {
        $("#producttextbookpic").change(function (e) {
            for (var i = 0; i < e.target.files.length; i++) {
                var file = e.target.files.item(i);
                var freader = new FileReader();
                freader.readAsDataURL(file);
                freader.onload = function (e) {
                    var src = e.target.result;
                    $("#textbookPic").attr("src", src);
                }
            }
        });
    });

</script> -->
</html>