<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product Type</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body style="padding:8px;">
    <h3 class="title">New product Type</h3>
    <img id="textbookPic"
         alt="默认教材封面"
         width="300"
         height="250"
         style="float:right" th:src="@{/pics/default.jpg}" /><br/>
    <form th:action="@{/product/create}" method="post"  enctype="multipart/form-data" th:object="${product}">
        <div>
            <span>product No:</span>
            <input type="text" name="productNo" >
        </div>
        <div>
            <span>product name:</span>
            <input type="text" name="productName" >
        </div>
        <div>
            <span>product pic:</span>
            <input id="producttextbookpic" type="file" name="producttextbookpic" size="40" />
        </div>
        <div>
            <span>product hours:</span>
            <input type="text" name="productHours" >
        </div>
        <div>
            <span>product Point:</span>
            <input type="text" name="productPoint" >
        </div>
        <div>
            <span>typeId:</span>
            <select name="typeId">
                <option>=请选择=</option>
                <option th:each="list:${productTypeList}" th:value="${list.typeId}" th:text="${list.typeName}"></option>
            </select>
        </div>
        <div>
            <span>product Status:</span>
            <input type="radio" name="productStatus" th:value="O" checked>Open to Public&nbsp;&nbsp;
            <input type="radio" name="productStatus" th:value="Z">Not open&nbsp;&nbsp;
            <input type="radio" name="productStatus" th:value="C">terminated
        </div>
        <div>
            <span>product condition:</span>
            <input type="checkbox" name="productReqs" value="a" />Over 3rd grade
            <input type="checkbox" name="productReqs" value="b" />Avg grade > B
            <input type="checkbox" name="productReqs" value="c" />International student
            <input type="checkbox" name="productReqs" value="d" />Student union
        </div>
        <div>
            <span>product Memo:</span>
            <textarea name="productMemo" rows="6" cols="60" ></textarea>
        </div>

        <div>
            <input type="submit" value="Open product"/>
        </div>
    </form>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:inline="javascript">
    $(function() {
        $("#producttextbookpic").change(function (e) {
            for (var i = 0; i < e.target.files.length; i++) {
                var file = e.target.files.item(i);
                var freader = new FileReader();
                freader.readAsDataURL(file);
                freader.onload = function (e) {
                    var src = e.target.result;
                    $("#textbookPic").attr("src", src);
                }
            }
        });
    });

</script>
</html>