<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body style="padding:8px;">
<h3 class="title">Modify product</h3>
<form th:action="@{/product/update}" method="post"  enctype="multipart/form-data" th:object="${product}">
    <input type="hidden" name="id" th:value="*{id}" />
    <div>
        <span>Product ID: [[${id}]]</span>
    </div>
    <div>
        <span>Name:</span>
        <input type="text" name="name" th:value="*{name}" >
    </div>
    <div>
        <span>Type Id:</span>
        <input type="text" name="typeId" th:value="*{typeId}" >
    </div>
    <div>
        <span>Price:</span>
        <input type="text" name="price" th:value="*{price}" >
    </div>
    <div>
        <span>Amount:</span>
        <input type="text" name="amount" th:value="*{amount}" >
    </div>
    <div>
        <span>Merchant Id:</span>
        <input type="text" name="merchantId" th:value="*{merchantId}" >
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:inline="javascript">
</script>
</html>