<!DOCTYPE html>
<!-- book p.266 -->
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="time">
    <a id="name"></a>
<div th:inline="javascript">
    function setTime(){
        var dt = new Date();
        var arr_week = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday");
        var strWeek = arr_week[dt.getDay()];
        var strHour = dt.getHours();
        var strMinutes = dt.getMinutes();
        var strSeconds = dt.getSeconds();
        if (strMinutes < 10) strMinutes = "0" + strMinutes;
        if (strSeconds < 10) strSeconds = "0" + strSeconds;
        var strYear = dt.getFullYear() + "year";
        var strMonth = (dt.getMonth()+1) + "month";
        var strDay = dt.getDate() + "date";
        strTime = strHour + ":" + strMinutes;
        time.innerHTML = "current time " + strYear + strMonth + strDay + " " + strTime + " " + strWeek;
    }

    setInterval("setTime()", 1000); >
</script>
</div>
</div>

<body>
</body>
</html>