<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="header">
    <div id="productName">Course System</div>
    <div></div>
    <div style="float:right; margin:10px;">
        User:[[${user.userName}]]&nbsp;
        <a th:href="@{/security/logout}" title="leave system" id="logout"><span style="cursor: pointer" class="linkspan">Leave System</span></a>
    </div>
</div>
<div>
    <div id="navigator">
        <div class="menuitem">
            <a th:href="@{/courseType/toInput}" target="contentFrame">Add Course Type</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/courseType/list}"  target="contentFrame">Course Type Management</a>
        </div>
        <div class="seperator"></div>
        <div class="menuitem">
            <a th:href="@{/course/toInput}"  target="contentFrame">Open New Course</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/course/list}" target="contentFrame">Course Management</a>
        </div>
        <div class="menuitem">
            <a th:href="@{/user/course}" target="contentFrame">My Course</a>
        </div>
    </div>
    <div id="content">
        <iframe id="contentFrame" width="100%" scrolling="no" height="480px" frameborder="0" name="contentFrame" allowtransparency="true" th:src="@{/welcome.html}">
        </iframe>
    </div>
</div>
<div id="footer">
    Course System - dev 1.0.0
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script  th:inline="javascript">

    $("#logout").click(function () {

        if(confirm('leave system？')){
            $(location).attr("href",this.href());
        }
        return false;
    });

</script>
</body>
</html>